.normal {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.navBar{
  background-color: #108ee9;

}
.line1 {
  background-color: #dddddd;
  width: 100%;
  height: 1px;
}

.input_frame {
  margin-top: 40px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 30px;
}

.rightItem {
  font-size: 12px;
  padding-right: 20px;
}



