.page_contral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #666;

  .secondDiv{
    width: 100%;
    height: 800px;
    .timeText{
      color: slategray;
      font-size: 30px;
      margin: 20px;

    }
    .markText{
      font-size: 45px;
      margin: 20px;
    }
    .bigOne{
      font-size: 40px;

      color: rgba(112, 114, 115, 0.96);
      line-height: 80px;
      margin: 20px;
      padding: 10px;
    }

  }
  .picDiv{
    width: 90%;
    height: 500px;
    margin: 20px;
    .pic{
      width: 100%;
      height: 100%;

    }

  }


}
