.item{
    height:420px;
    background: url(http://oiu42aq9j.bkt.clouddn.com/my_back.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    header{
        flex:2;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin-top: 85px;
        }
    }
    .navList{
        flex:1;
        ul{
            display: flex;
            padding: 0;
            li{ 
                color:#fff;
                border-right:1px dashed #fff;
                text-align: center;
                font-size: 30px;
                flex:1;
                display: flex;
                flex-direction: column;
                
            }
            .nb{
                border: 0;
            }
        }
    }
    
}
.contact{
        margin-top: 40px;
    }